<!DOCTYPE html>
<html>

<head>
  <title>Contact - MoldavianHeart</title>
</head>

<body>
<div id="drawer-right">
  <div class="cross text-right">
    <a class="toggleDrawer" href="#wrapper"><i class="fa fa-times-circle fa-2x"></i></a>
  </div>
  <h2>Navigate</h2>
  <nav>
    <ul class="nav nav-pills nav-stacked">
      <li>
        <a href="/"><i class="fa fa-home"></i> Home</a>
      </li>
      <li>
        <a href="/portfolio/album"><i class="fa fa-bookmark"></i> Album</a>
      </li>
      <li>
        <a href="/portfolio/services"><i class="fa fa-wrench" aria-hidden="true"></i></i> Services</a>
      </li>
      <li>
        <a href="/portfolio/about"><i class="fa fa-users" aria-hidden="true"></i></i> About</a>
      </li>
      <li>
        <a href="/portfolio/contact"><i class="fa fa-phone-square"></i> Contact</a>
      </li>
    </ul>
  </nav>
  <div class="social">
    <h2>Stay Connected</h2>
    <ul>
      <li><a target="_blank" href="//www.facebook.com/moldavianheart"><i class="fa fa-facebook-square fa-3x"></i></a></li>
      <li><a target="_blank" href="//twitter.com/MoldavianHeart"><i class="fa fa-twitter-square fa-3x"></i></a></li>
      <li><a target="_blank" href="//www.moldavianheart.tumblr.com"><i class="fa fa-tumblr-square fa-3x"></i></a></li>
    </ul>
  </div>
  <a id="tauchi" target="_blank" href="http://www.facebook.com/tauchimusic">Created by TAU CHI @2016</a>
</div><!-- #drawer-right -->

<div id="wrapper">
  <div id="header" class="content-block">
    <section class="top clearfix solid">
      <div class="pull-left">
        <h1><a class="logo" id='barmh' href="/"><i class="fa fa-heart" id="barheart"></i><span id="textbar">MoldavianHeart</span></a></h1>
      </div>
      <div class="pull-right">
        <a class="toggleDrawer" href="#"><i class="fa fa-bars fa-2x"></i></a>
      </div>
    </section>
  </div><!-- header -->

  <div class="content-block" id="contact">
    <div class="container text-center">
      <header class="block-heading cleafix">
        <h1>Contact Us</h1>
        <p>Feel free to drop us a line.</p>
      </header>
      <section class="block-body">
        <div class="row">
          <div class="col-md-6 col-md-offset-3">
            <form class="" role="form">
              <div class="form-group">
                <input type="text" class="form-control form-control-white" id="subject" placeholder="Your Name" required>
              </div>
              <div class="form-group">
                <input type="email" class="form-control form-control-white" id="exampleInputEmail2" placeholder="Enter email" required>
              </div>
              <div class="form-group">
                <textarea class="form-control form-control-white" placeholder="Write Something" required></textarea>
              </div>
              <input type="submit" class="btn btn-o-white" value="Say Hello">
            </form>
          </div>
        </div>
      </section>
    </div>
  </div><!-- #contact -->

  <div class="content-block" id="footer">
    <div class="container">
      <div class="row" id="credentials">
        <div class="col-xs-6"><span id="created">&copy; Created by TAU CHI</span></div>
        <div class="col-xs-6 text-right"><a target="_blank" href='http://facebook.com/tauchimusic'><i class="fa fa-facebook-square" id="facebookcredentials"></i></a> <a target="_blank" href="http://twitter.com/tauchimusic"><i class="fa fa-twitter-square" aria-hidden="true" id="facebookcredentials"></i></a> <a target="_blank" href="http://soundcloud.com/tau-chi"><i class="fa fa-soundcloud" aria-hidden="true" id="facebookcredentials"></i></a></div>
        <div align="center"><section class="bottom">
          <a id="scrollToContent" href="#">
            <img id="arrow" src="http://i.imgur.com/RnyCeOR.png">
          </a>
        </section></div>
      </div>
    </div>
  </div><!-- #footer -->

</div><!--/#wrapper-->


<script src="https://mdht.herokuapp.com/assets/jquery-2.1.3.min.js"></script>
<script src="https://mdht.herokuapp.com/assets/jquery-migrate-1.2.1.min.js"></script>
<script src="https://mdht.herokuapp.com/assets/bootstrap.min.js"></script>
<script src="https://mdht.herokuapp.com/assets/jquery.actual.min.js"></script>
<script src="https://mdht.herokuapp.com/assets/jquery.scrollTo.min.js"></script>
<script src="https://mdht.herokuapp.com/assets/scriptnew.js"></script>

</body>
</html>