<!DOCTYPE html>
<html>

<head>
  <title>Services - MoldavianHeart</title>
</head>

<body>
<div id="drawer-right">
  <div class="cross text-right">
    <a class="toggleDrawer" href="#wrapper"><i class="fa fa-times-circle fa-2x"></i></a>
  </div>
  <h2>Navigate</h2>
  <nav>
    <ul class="nav nav-pills nav-stacked">
      <li>
        <a href="/"><i class="fa fa-home"></i> Home</a>
      </li>
      <li>
        <a href="/portfolio/album"><i class="fa fa-bookmark"></i> Album</a>
      </li>
      <li>
        <a href="/portfolio/services"><i class="fa fa-wrench" aria-hidden="true"></i></i> Services</a>
      </li>
      <li>
        <a href="/portfolio/about"><i class="fa fa-users" aria-hidden="true"></i></i> About</a>
      </li>
      <li>
        <a href="/portfolio/contact"><i class="fa fa-phone-square"></i> Contact</a>
      </li>
    </ul>
  </nav>
  <div class="social">
    <h2>Stay Connected</h2>
    <ul>
      <li><a target="_blank" href="//www.facebook.com/moldavianheart"><i class="fa fa-facebook-square fa-3x"></i></a></li>
      <li><a target="_blank" href="//twitter.com/MoldavianHeart"><i class="fa fa-twitter-square fa-3x"></i></a></li>
      <li><a target="_blank" href="//www.moldavianheart.tumblr.com"><i class="fa fa-tumblr-square fa-3x"></i></a></li>
    </ul>
  </div>
  <a id="tauchi" target="_blank" href="http://www.facebook.com/tauchimusic">Created by TAU CHI @2016</a>
</div><!-- #drawer-right -->

<div id="wrapper">
  <div id="header" class="content-block">
    <section class="top clearfix solid">
      <div class="pull-left">
        <h1><a class="logo" id='barmh' href="/"><i class="fa fa-heart" id="barheart"></i><span id="textbar">MoldavianHeart</span></a></h1>
      </div>
      <div class="pull-right">
        <a class="toggleDrawer" href="#"><i class="fa fa-bars fa-2x"></i></a>
      </div>
    </section>
  </div><!-- header -->

  <div class="content-block parallax container-fluid" id="services">
    <div class="container text-center" id="servicestext">
      <header class="block-heading cleafix">
        <h1>Our Services</h1>
      </header>
      <section class="block-body">
        <div class="row">
          <div class="col-md-4">
            <div class="service">
              <i class="fa fa-edge"></i>
              <h2>WEB Design</h2>
              <p>Including web graphic design, interface design, authoring, including standardised code and proprietary software, user experience design.</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="service">
              <i class="fa fa-cube"></i>
              <h2>Computer Graphics</h2>
              <p>"Almost everything on computers that is not text or sound" -  sprite graphics, vector graphics, 3D modeling, shaders, GPU design and computer vision.</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="service">
              <i class="fa fa-line-chart"></i>
              <h2>SEO Services</h2>
              <p>Is the process of affecting the visibility of a website or a web page in a search engine's unpaid results - often referred to as "natural", "organic", or "earned" results.</p>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div><!-- #services -->

  <div class="content-block" id="footer">
    <div class="container">
      <div class="row" id="credentials">
        <div class="col-xs-6"><span id="created">&copy; Created by TAU CHI</span></div>
        <div class="col-xs-6 text-right"><a target="_blank" href='http://facebook.com/tauchimusic'><i class="fa fa-facebook-square" id="facebookcredentials"></i></a> <a target="_blank" href="http://twitter.com/tauchimusic"><i class="fa fa-twitter-square" aria-hidden="true" id="facebookcredentials"></i></a> <a target="_blank" href="http://soundcloud.com/tau-chi"><i class="fa fa-soundcloud" aria-hidden="true" id="facebookcredentials"></i></a></div>
        <div align="center"><section class="bottom">
          <a id="scrollToContent" href="#">
            <img id="arrow" src="http://i.imgur.com/RnyCeOR.png">
          </a>
        </section></div>
      </div>
    </div>
  </div><!-- #footer -->

</div><!--/#wrapper-->


<script src="assets/jquery-2.1.3.min.js"></script>
<script src="assets/jquery-migrate-1.2.1.min.js"></script>
<script src="assets/bootstrap.min.js"></script>
<script src="assets/jquery.actual.min.js"></script>
<script src="assets/jquery.scrollTo.min.js"></script>
<script src="assets/scriptnew.js"></script>

</body>
</html>